@font-face {
    font-family: "Onesize";
    src: url("/assets/fonts/Onesize.eot"), url("/assets/fonts/Onesize.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/Onesize.woff2") format("woff2"), url("/assets/fonts/Onesize.woff") format("woff"),
        url("/assets/fonts/Onesize.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

:root {
    --button-padding: 20px;
    --button-radius: 2px;
    --button-cursor: pointer;
    --button-user-select: none;
    --font: "Onesize";
}

html,
body,
game-canvas {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
    max-width: 100vw;
}

body {
    font-size: 1em;
    line-height: 1.15;
    letter-spacing: 1px;
    background-color: #0b0b0b;
    display: flex;
    justify-content: center;
}

game-canvas {
    font-family: var(--font);
    font-size: 1.8rem;
    color: white;
}
